{% extends 'admin/base.html' %}

{% load static %}

{% block title %} CHE.Category {% endblock %}


{% block content %}
<style>
    .hidden {
        display: none;
    }
    .show{
        display: block;
    }
</style>


 


<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4 d-flex">
    <div class="bg-secondary text-center rounded p-4 w-100 d-flex align-items-center justify-content-around">
        <div class="w-50">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">All Categories</h6>
                <form class="d-none d-md-flex ms-4" method="post" action="{% url 'category' %}">
                    {% csrf_token %}
                    <input class="form-control bg-dark border-0" name="search" type="search" placeholder="Search">
                    <button class="btn btn-success"
                        style="margin-left: 20px; padding-left:15px; padding-right: 15px; background-color: rgb(50, 67, 32);">Search</button>
                </form>
            </div>
    
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-white">
                            <th scope="col"><input class="form-check-input" type="checkbox"></th>
                            <th scope="col">Category Name</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in category_list %}
                            <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td>{{ category.name }}</td>
                                <td>
                                    <button class="btn btn-sm btn-success" id='updateModalBtn' style="margin-right: 15px;" data-toggle="modal" data-target="#deleteModal">Update</button>
                                    <button class="btn btn-sm btn-danger" data-toggle="modal" id='deleteModalBtn' data-target="#deleteModal">Delete</button>
                                </td>
                            </tr>
                                <!-- Delete Modal -->
                                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header border-0">
                                                <h5 class="" id="">Delete Category</h5>
                                                
                                            </div>
                                            <div class="modal-body ">
                                                <form>
                                                    <label class='hidden hiddenContent'>Category Name</label>
                                                    <input type='text'  class='hidden hiddenContent' value={{category.name}} required>
                                                
                                                <p class='deleteContent'>Are you sure you want to delete category {{ category.name }}?</p>
                                            </div>
                                            <div class="modal-footer border-0">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                <a href="" class="btn btn-danger deleteContent">Delete</a>
                                                <button type='button' class='hidden hiddenContent' id='update'>Update</button>
                                            </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end of delete modal -->
                           
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="pagination mt-4 w-100 d-flex justify-content-center">
                <span class="step-links">
                    {% if category_list.has_previous %}
                    <a href="?page=1" style="color: rgb(101, 141, 59);">&laquo; first</a>
                    <a href="?page={{ category_list.previous_page_number }}"
                        style="margin-right: 5px; margin-left: 5px; color: rgb(101, 141, 59);">previous</a>
                    {% endif %}
    
                    <span class="current">
                        Page {{ category_list.number }} of {{ category_list.paginator.num_pages }}.
                    </span>
    
                    {% if category_list.has_next %}
                    <a href="?page={{ category_list.next_page_number }}"
                        style="margin-right: 5px; margin-left: 5px; color: rgb(101, 141, 59);">next</a>
                    <a href="?page={{ category_list.paginator.num_pages }}" style="color: rgb(101, 141, 59);">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
        <div class="w-25">
            <form class="ms-4" method="post" action="{% url 'new_category' %}">
                {% csrf_token %}
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
                {% endif %}
                <input class="form-control bg-dark border-0" name="category" type="search" placeholder="Category Name">
                <button class="btn btn-success"
                    style="margin-left: 20px; margin-top: 10px; padding-left:15px; padding-right: 15px; background-color: rgb(40, 50, 66);">Add Catogry</button>
            </form>
        </div>
        
    </div>
</div>
<!-- Recent Sales End -->

<script>
    // Get the update button element
    let updateBtn = document.getElementById("update")

    // Get the delete modal button element
    let deleteModalBtn = document.getElementById('deleteModalBtn')

    let updateModalBtn = document.getElementById('updateModalBtn')

    // Get all the delete content elements
    let deleteContent = document.getElementsByClassName('deleteContent')

    // Get all the hidden content elements
    let hiddenContent = document.getElementsByClassName('hiddenContent')
   
    // Add an event listener to the update modal button
    updateModalBtn.addEventListener('click', (e) => {
        e.preventDefault()

        // Hide all delete content elements
        for(let i=0; i < deleteContent.length; i++){
            deleteContent[i].style.display = "none"
        }

        // Show all hidden content elements
        for(let i=0; i < hiddenContent.length; i++){
            hiddenContent[i].style.display = "block"
        }
        
       
    })
   
    deleteModalBtn.addEventListener('click', (e) => {
        e.preventDefault();
        for(let i=0; i < hiddenContent.length; i++){
            hiddenContent[i].style.display = "none"
        }
        for(let i=0; i < deleteContent.length; i++){
            deleteContent[i].style.display = "block"
        }
    })

</script>


{% endblock %}