<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <title>footer</title>
    <style>
        body {
            margin: 0;
        }

        .main-div {
            border-top: 1px solid #c4c4c4;
            display: -webkit-box;
            -webkit-box-pack: justify;
            font-size: 10px;
            font-weight: normal;
            padding-top: 10px;
        }
    </style>
</head>

<body>
    {% if store %}
    <div class="main-div">
        <div>
            <p><i class="fas fa-envelope"> &nbsp;</i> cochinhotelequipments@gmail.com</p>
            <p><i class="fab fa-facebook"> &nbsp; www.facebook.com/Cochin-Hotel-Equipment/</i></p>
        </div>
        <div>
            <p><i class="fas fa-globe"> &nbsp;</i> www.cochinhotelequipments.site</p>
            <p><i class="fas fa-map-marker-alt"> &nbsp;</i>Ground Floor, XIV/293, Muttom, North Kalamassery,<br>
                &nbsp; &nbsp; &nbsp; Choornikkara, Kochi, Kerala 683106</p>
        </div>
    </div>
    {% else %}
    <div class="main-div">
        <div>
            <p><i class="fas fa-envelope"> &nbsp;</i> chestcr2021@gmail.com</p>
            <p><i class="fab fa-facebook"> &nbsp; www.facebook.com/Cochin-Hotel-Equipment/</i></p>
        </div>
        <div>
            <p><i class="fas fa-globe"> &nbsp;</i> www.cochinhotelequipments.site</p>
            <p><i class="fas fa-map-marker-alt"> &nbsp;</i>
                Guruvayur Kunnamkulam Road, Peramangalam, Thrissur - 680545<br>
        </div>
    </div>
    {% endif %}
</body>

</html>