{% extends 'admin/base.html' %}

{% load static %}

{% block title %} CHE.Home {% endblock %}


{% block content %}
<!-- Sale & Revenue Start -->
<div class="container-fluid pt-3 px-3 text-white">
    <div class="row g-3">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary text-center p-2">Total Revenue 20{{financial_year}}</div>
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between px-4 p-2">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Ernakulam</p>
                    <h6 class="mb-0 d-flex justify-content-end" style="color: #6C7293;">₹ {{total_revenue_ekm}}</h6>
                </div>
            </div>
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between px-4 p-2">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Thrissur</p>
                    <h6 class="mb-0 d-flex justify-content-end" style="color: #6C7293;">₹ {{total_revenue_tsr}}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary text-center p-2">Current Month ({{current_month}})</div>
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between px-4 p-2">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Ernakulam</p>
                    <h6 class="mb-0 d-flex justify-content-end" style="color: #6C7293;">₹ {{last_month_revenue_ekm}}
                    </h6>
                </div>
            </div>
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between px-4 p-2">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Thrissur</p>
                    <h6 class="mb-0 d-flex justify-content-end" style="color: #6C7293;">₹ {{last_month_revenue_tsr}}
                    </h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary text-center p-2">Today Sale</div>
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between px-4 p-2">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Ernakulam</p>
                    <h6 class="mb-0 d-flex justify-content-end" style="color: #6C7293;">₹ {{today_sale_in_ekm}}</h6>
                </div>
            </div>
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between px-4 p-2">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Thrissur</p>
                    <h6 class="mb-0 d-flex justify-content-end" style="color: #6C7293;">₹ {{today_sale_in_tsr}}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary text-center p-2">Amount Remaining</div>
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between px-4 p-2">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Ernakulam</p>
                    <h6 class="mb-0 d-flex justify-content-end" style="color: #6C7293;">₹ {{amount_remaining_ekm}}</h6>
                </div>
            </div>
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between px-4 p-2">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Thrissur</p>
                    <h6 class="mb-0 d-flex justify-content-end" style="color: #6C7293;">₹ {{amount_remaining_tsr}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sale & Revenue End -->


<!-- Recent Sales Start -->
<div class="container-fluid pt-3 px-3">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Recent Sales</h6>
            <a href="{% url 'invoice' %}">Show All</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0" style="font-size: 14px;">
                <thead>
                    <tr class="text-white">
                        <th scope="col">#</th>
                        <th scope="col">IVC No</th>
                        <th scope="col">IVC Date</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Sub Total</th>
                        <th scope="col">Discount</th>
                        <th scope="col">Grand Total</th>
                        <th scope="col">Paid</th>
                        <th scope="col">Remaining</th>
                    </tr>
                </thead>
                <tbody>
                    {% for invoice in recent_inovice %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ invoice.invoice_num }}</td>
                        <td>{{ invoice.invoice_date }}</td>
                        <td>{{ invoice.customer.full_name }}</td>
                        <td>{{ invoice.sub_total }}</td>
                        <td>{{ invoice.discount }}</td>
                        <td>{{ invoice.grand_total }}</td>
                        <td>{{ invoice.amount_paid }}</td>
                        <td>{{ invoice.amount_remaining }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Recent Sales End -->

{% endblock %}